body {
    background-color: DarkSlateGray;
}

h1 {
    color: Peru;
    display: block;
    font-size: 2em;
    margin-top: 0.1em;
    margin-bottom: 0.67em;
    margin-left: 50px;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    color: Peru;
    display: block;
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}


p {
    color: Peru;
    font-family: "Courier New", Courier, monospace;
}

.row {
    display: flex;
}

.column {
    padding: 0px 10px;
    flex: 50%;
}


/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 50px;
    }

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 50px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
        left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidebarfooter {
    bottom: 0;
    width: 100%;
    position: absolute;
    padding-bottom: 100px;
}

.main {
    margin-left: 50px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
