/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

body {
    margin: 60px auto;
    width: 70%;
}
tab { margin-left: 80px;
}

nav ul, footer ul {
    font-family:'Courier New', 'Courier', 'monospace';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Courier New', 'Courier', 'monospace';}

h2 {
    font-size: 2em;
    font-family:'Courier New', 'Courier', 'monospace';}
}

h3 {
    font-size: 1em;
    font-family:'Courier New', 'Courier', 'monospace';
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    font-size: 1.5em;
    list-style: none;
}
/* Layout Settings */
.row {
    display: flex;
}

.column {
  float: left;
  padding: 10px;
  height: 1000px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}
